<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\xampp\htdocs\Bloodworks\assets\css\style.css">
    
</head>
<body>
    <section class="bank-detail-container">
        <div class="bank-detail-header-bg">
          <div class="bank-detail-header">
            <div class="con">
              <div class="bank-img">
                <img src="https://dummyimage.com/230x230/000/fff" alt="">
              </div>
              <div class="bank-detail-profile">
                <h1>Add a heading</h1>
                <h3>add a subheading</h3>
                <p>Add a little bit of body text</p>
              </div>
            </div>
          </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bank-detail-info">
            <div class="bank-detail-tabs">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'information')">Information</button>
                    <button class="tablinks" onclick="openCity(event, 'bloodstocks')">Blood Stocks</button>
                    <button class="tablinks" onclick="openCity(event, 'events')">Events</button>
                  </div>
                  
                  <div id="information" class="tabcontent active" >
                    <h3>Blood-Bank Details</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum at laudantium deserunt! Placeat, nam! Inventore asperiores, molestias modi recusandae aperiam at vel doloribus corporis culpa cupiditate velit sequi qui ad.</p>
                  </div>
                  
                  <div id="bloodstocks" class="tabcontent">
                    <h3>The Blood Stock of the Blood Bank</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolores, consequuntur ex reiciendis assumenda distinctio iure consequatur vel repellendus atque nulla quibusdam ducimus debitis culpa repellat est laborum sed maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusantium necessitatibus perspiciatis doloribus quia numquam debitis amet eaque. Cupiditate autem error assumenda sequi vel minima doloremque sit provident neque nihil.</p> 
                  </div>
                  
                  <div id="events" class="tabcontent">
                    <h3>Events</h3>
                    <div class="event_list" style="overflow-x: auto;">
                      <table>
                          <tr>
                              <th>No.</th>
                              <th>Name</th>
                              <th>Location</th>
                              <th>Event Details</th>
                              <th>Event Organizers</th>
                              <th>Event Time</th>
                              <th>Contacts</th>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Aron Khan</td>
                              <td>Pokhara</td>
                              <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic unde qui voluptatum. Dignissimos facere esse iure, dolorum alias placeat molestias omnis nobis sapiente! Obcaecati officia eius animi, facilis fugit distinctio!</td>
                              <td>Arondasda</td>
                              <td>June 19,2023</td>
                              <td>9811111111</td>
                          </tr>
                         
                      </table>
                  </div>
                    </div>
            </div>         
        </div>
    </section>
   
      
      <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      </script>
   </body>
</html>