<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\xampp\htdocs\Bloodworks\assets\css\style.css">
</head>
<body>
    <section class="banner-container"></section>
    <section class=" bank-card-container">
        <div class="bank-card-link">
            <h2>Blood Bank Centers in Nepal</h2>
            <div class="card-link-container">
                <a href="#" class="add-bank">Add Blood Bank Centers</a>
                <a href="#" class="emergency">EMERGENCY REQUEST A BLOOD</a>
            </div>
        </div>
        <div class="bank-card-list">
            <div class="bank-card">
                <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
                <a href="#">Nepal REd Cross Society BLood Bank</a>
                <p>Location : </p>
                <p>Contact : </p>
                <p>E-mail : </p>
                <p>Website : </p>
            </div>
            <div class="bank-card">
                <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
                <a href="#">Nepal REd Cross Society BLood Bank</a>
                <p>Location : </p>
                <p>Contact : </p>
                <p>E-mail : </p>
                <p>Website : </p>
            </div>
            <div class="bank-card">
                <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
                <a href="#">Nepal REd Cross Society BLood Bank</a>
                <p>Location : </p>
                <p>Contact : </p>
                <p>E-mail : </p>
                <p>Website : </p>
            </div>
            <div class="bank-card">
                <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
                <a href="#">Nepal REd Cross Society BLood Bank</a>
                <p>Location : </p>
                <p>Contact : </p>
                <p>E-mail : </p>
                <p>Website : </p>
            </div>
            <div class="bank-card">
                <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
                <a href="#">Nepal REd Cross Society BLood Bank</a>
                <p>Location : </p>
                <p>Contact : </p>
                <p>E-mail : </p>
                <p>Website : </p>
            </div>            <div class="bank-card">
                <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
                <a href="#">Nepal REd Cross Society BLood Bank</a>
                <p>Location : </p>
                <p>Contact : </p>
                <p>E-mail : </p>
                <p>Website : </p>
            </div>
        </div>
    </section>
</body>
</html>