.box{
    width: 100px;
    height: 50px;
    background-color: green;
    /* margin: 10px; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}

 

body {
    background: #eeeeee;
  
}
main
{
    min-height: 100vh;
}


img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}
.container1{
    gap: 70px;
    width: fit-content;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.container1,.stats-container{

    display: flex;
    flex-direction: row;
}
.stats-container{
    margin-top: 35vh;
    margin-bottom: 10vh;
    gap: 40px;
    width: 100%;
}
.stat-cont{
    width: 100%;
    display: flex;
    align-items: center;
}
.card-cont{
    width: 100%;
    display: flex;
    align-items: center;
}

.card1{
    width: 36%;
    margin: 20px;
    background-color: #F8F9FA;
    padding: 17px;
    border-radius: 4px;
    height: fit-content;
    border-width: 100%;
    border-bottom: 2px solid rgb(116, 25, 25);
}
.card1:hover{
    border-bottom: 5px solid rgb(195, 43, 43);;
}

.card-heading{
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
}

.na1{
    font-size: 14.5px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #7f8c9b;
}

.card-details{
    padding: 16px 16px 8px 16px; 
}

.card-details i{
    font-size: 40px;
    margin-left: 10px;
    color: rgb(195, 43, 43);
}

.card-btn{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: rgb(217, 56, 56);
    padding: 10px 13px;
    border-radius: 3px;
    margin-top: 12px;
    text-align: center;
    width: 200px;  
}
.card-btn:hover{
    background-color: rgb(116, 25, 25);
}

.card-details label{
    width: fit-content;
    text-align: center;
}
.c-btn{
    position: relative;
    margin: auto;
    width: fit-content;
}

.stats{
    width: 35%;
    margin: 20px;
    background-color: #F8F9FA;
    border: 2px solid #eaeced;
    padding: 17px;
    border-radius: 4px;
    height: 200px;
    border-width: 100%;
}
.stats-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.stats-details i{
    font-size: 40px;
    color: rgb(195, 43, 43);
}
.stats-details p{
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 0rem;
}




@media screen and (max-width : 970px) {

    .card-cont{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .card1{
        width: 96%;
        margin-bottom: 1px;
    }
}

@media screen and (max-width : 750px) {
    .stat-cont{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .card1{
        width: 96%;
        margin-bottom: 1px;
    }
    .stats{
        width: 96%;
        margin-bottom: 1px;
    }
}

@media screen and (max-width : 610px) {
    .container1{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .card1{
        width: 96%;
        margin-bottom: 1px;
    }
}








.brand a:hover{
text-decoration: none;
background: none;
}


.bb-navbar{
    position: fixed;
    top: 0;
    background-color: #F8F9FA;
    height: 80px;
    width: 100%;
    z-index: 10;
    box-shadow: 1px .1px 20px rgb(209, 209, 209);
}

label.logo{
    color: #000000;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold
}
.bb-navbar ul{
    float: right;
    margin-right: 100px;
 }

 .bb-navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 }

 .bb-navbar ul li a{
    color:  #000000;
    font-size: 17px;
    padding: 7px 16px;
    margin-left: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
 }

.bb-navbar a:active, .bb-navbar a:hover{
    background: #eee;
    transition: .5s;
 }

 .checkbtn{
    font-size: 25px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 
 }

 #check{
    display: none;
 }


 @media (max-width :1080px)
 {
    label.logo{
        font-size: 2.2vw;
        padding-left: 50px;
    }
  .checkbtn{
    display: block;
  }  

  .bb-navbar ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #d4d4d4;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .bb-navbar ul li{
    display: block;
    margin :50px 0;
    line-height: 30px;
  }

  .bb-navbar ul li a{
    font-size:  16px;
  }

  a:hover, a:active{
    background: none;
    color: #535353;
  }

  #check:checked ~ ul{
    left: 0;
  }
 }

 @media (max-width :660px)
 {
    label.logo{
        font-size: 15px;
        padding-left: 50px;
    }
    .checkbtn{
        font-size: 17px;
      }  
 }
 @media (max-width :360px)
 {
    label.logo{
        font-size: 12px;
        padding-left: 30px;
    }
    .checkbtn{
        font-size: 10px;
      }  
 }

/* // navbar */
.dropdown-toggle::after {
    display: none;
}

.text-decoration-none {
    text-decoration: none !important;
}

/* Font Awesome Icons have variable width. Added fixed width to fix that. */
.icon-width {
    width: 2rem;
}

#navbar4 {

    justify-content: space-between;
}
 



.banner {
    
  
    height: 100vh;
}

 

.banner .row {
    align-items: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.text-primary {
    color: #ff1f1f !important;
}

.btn {
    padding: 0.5em 1.5em;
    border-radius: 2em;
}




.table-section{
    /* min-height: 100vh; */
    position: relative;
}
.table-sec-title{
    margin: 2rem 0 3rem 0;
    color: #ff1f1f;
    text-align: center;
    
   
    
}
.datatable-search .datatable-input{
    border-radius: 2em;
    border: 1px solid #ff1f1f;
    padding: 0.5em 1em;
    color: #ff1f1f;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
}
td,
th {
    padding: 20px;
    height: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
}


#datatable th {
    background-color: rgb(198, 27, 27);
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 15px;
    text-align: center;
}

table thead tr th a{
   color: #ffffff !important;
  
    font-weight: 600;
    font-size: 1.2em;
}
.top-gap{
    padding-top: 80px;
}
 

 /*---------------Blood Bank Card---------------*/
 .bank-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
     padding: 10px 20px 10px 10px;
     background-color: #F8F9FA;
     width: calc(100% / 2 - 80px);
     min-width: fit-content;
     border-radius: 4px;
     margin-bottom: 10px;
     box-shadow: 0 0 4px 0 rgba(161, 161, 161, 0.4);
}
.bank-card i{
    font-size: 40px;
    color: #b71a1a;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 1px solid rgb(247, 247, 247);
    background-color:rgb(247, 247, 247);
    border-radius: 100%;
    padding: 15px;
}
 .card-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    padding: 10px 10px 10px 25px;
    /* margin: auto; */
  }
  .card-data p{
    color: #424344;
    width: 55%;
    font-size: 35px;
    text-align: left;
    margin: 6px;
  }
  .card-data a{
    color: #032e63;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #a3a1a1;;
  }
  .bank-card-list{
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
  }
  .in{
    width: 75%;
  }



 .bank-card-link h2{
    text-decoration: underline;
    color: rgb(172, 18, 18);
    font-weight: lighter;
 }
.bank-card-link, .bank-card-list,.card-link-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.bank-card-container{
    position: relative;
    top: 100px;
    left: 0;
    margin: auto;
    width: 75%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .11);
    padding: 30px;

}


.bank-card-link h2{
    text-decoration: none;
    color: #7f8c9b;
    margin: 5px;
    font-weight: bold;
}

.bank-card-link h2{
    font-size: 30px;
}
.bank-card img{
    margin-bottom: 10px;
}
.card-link-container{
    row-gap: 5px;
}
.bank-card-link{
    margin-bottom: 25px;
}
.bank-card-link a{
    background-color: rgb(172, 18, 18);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    border-radius: 5px;
}
.card-link-container .add-bank{
   background-color: rgb(29, 80, 191);
}
.bank-card-link a:hover{
    color: #575757;
    background-color: transparent;
    padding: 8px;
}
.bank-card a:hover{
    color: #575757;
}

.card-link-container .add-bank:hover{
    border: 2px solid rgb(29, 80, 191);
}
.card-link-container .emergency:hover{
    border: 2px solid rgb(172, 18, 18);
}

 
@media screen and (max-width: 1050px){
    .bank-card{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0px 4px 5px 4px;
        
    }
    .bank-card a {
        font-size: 18px;
    }

}
 
@media screen and (max-width: 750px) {

    .bank-card-list, .bank-card-link{
        display: flex;
        flex-direction: column;
    }
    .bank-card{
       height: fit-content;
       width: 100%;
       display: flex;
       flex-direction: row;
        
    }
    .bank-card a {
        font-size: 15px;
    }
    .bank-card p{
        font-size: 10px;
    }
    .bank-card-link a{
        font-size: 13px;
     }

   


}
@media screen and (max-width: 560px) {
    .in{
        width: 100%;
    }
    .bank-card{
        width: 100%;
    }
    .card-data a{
        font-size: 18px;
    }
    .card-data p{
        font-size: 25px;
    }
         .card-link-container{
            display: flex;
            flex-direction: column;
         }
         .bank-card-link a{
            font-size: 10px;
         }


}

/*----------------------Blood Bank Details---------------------*/
  .main-test-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .testbox {

      padding: 20px;
      width: fit-content;
      border: 3px solid #e0e0e0;
  }


  
.bank-detail-container{
    position: relative;
    top: 100px;
    left: 0;
    margin: auto;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}


.bank-detail-profile h1, .bank-detail-profile h3, .bank-detail-profile p{
    margin: 10px;
}
.bank-detail-header{
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    width: 1320px;
    height: 200px;
}
.bank-detail-profile{

    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 20px;
   
}
.con{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bank-detail-header-bg{
    width: 100%;
    border-bottom: 2px solid rgb(49, 49, 49);
    background-color: rgb(172, 18, 18);
}
.bank-img{
    position: relative;
    top: 60px;
    left: 0;
}
.bank-detail-header img{

    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    
}
.bank-detail-profile h1,.bank-detail-profile h3, .bank-detail-profile p{
    display: flex;
    align-items: center;
}
.bank-detail-info{
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 80px 30px;
}
.bank-detail-tabs{
    position: relative;
    top: 60px;
    left: 0;
    margin: auto;
    max-width: 1320px;
    
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
}


/*---------Bloodbank Profile-----------*/
.profile-name-container {
    position: relative;
    margin: auto;
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 10px;
}

.profile-img1 {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}
.title-con{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-contain{
    flex-direction: column;
}

.title-contain h3{

    font-size: 70px;
}
.title-contain h4{
    font-size: 30px;

}

.title-contain h3, .title-contain h4{
    font-style: normal;
    position: relative;
    left: 20px;
    font-weight: bold;
    margin: 10px 50px;
    color: white;
}



.bb-profile{
    min-width: 15%;
    height: fit-content;
    overflow: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08);
    background-color: rgb(149, 39, 39);
    padding:  15px;
}

/* Style the tab */
.topnav{
    /* border-bottom: 2px double rgb(124, 120, 120); */
    background-color: #F8F9FA;
    /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08); */
}
.tab {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 7px;
    width: fit-content;
    
  }
  
  /* Style the buttons inside the tab */
  .tab button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 16px;
    transition: 0.3s;
    float: left;
    margin: 10px;
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    width: 150px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover{
    background-color: #e7e7e7;
  }
  
  /* Create an active/current tablink class */
  .tab button.active{
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    position: relative;
    margin: auto;
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    min-height: 500px;
    border-radius: 7px;
    height: fit-content;
    padding-bottom: 10px;
  }

  .tab-main-container{
    width: 100%;
  }

  .tab-container{
    margin: 10px 5px;
    background-color: #F8F9FA;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  
  .topnav .icon {
    display: none;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin: 10px;
    padding: 10px;
    color: #000;
  }

  .navi{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

@media screen and (max-width: 800px) {
.topnav a{display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}


@media screen and (max-width: 800px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  /* left: 70px;
  top: -10px; */
  margin: 1px 8px;
}
.topnav.responsive a
{
    width: 100%;
}

.topnav.responsive a, 
.topnav.responsive button {
  float: none;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding: 15px 10px;
}
.tab{
    padding-top: 10px;
}


}
@media screen and (max-width: 430px) {
.topnav.responsive a, .topnav.responsive button {
  font-size: 12px;
  margin: 1px;
}

}

@media screen and (max-width :1350px) {
    .bank-detail-header{
        height: fit-content;
        width: 100%;
    }
    
}

@media screen and (max-width: 1000px) {

    .bank-detail-profile h1{
        font-size: 20px;
     }
     .bank-detail-profile h3{
        font-size: 13px;
     }
     .bank-detail-profile p{
        font-size: 10px;
     }
     .title-contain h3{
        font-size: 50px;
     }
    .title-contain h4{  
        font-size: 20px;
     }
    .title-con {
        display: flex;
        flex-direction: column;
     }
    .profile-img1 { 
        width: 300px;
        height: 250px;
     }
    .tab button {
        font-size: 15px;
        padding: 12px 12px;
     }

}
@media screen and (max-width: 567px) {

    .title-contain h3{
        font-size: 40px;
    }
    .title-contain h4{
        font-size: 15px;
    }
    .title-contain h3, .title-contain h4{
        position: relative;
        left: 0;
    }
}

@media screen and (max-width: 430px) {

    .title-contain h3{
        font-size: 20px;
    }
    .title-contain h4{
        font-size: 10px;
    }
    .profile-img1 {
        width: 220px;
        height: 170px;
    }
    .tab{
        justify-content: center;
        align-items: center;
    }
    .tab button {
        width: 100%;
        font-size: 12px;
        padding: 8px 8px;
    }
}

@media screen and (max-width  : 500px){


    .tab button{
        min-width: 100%;
        font-size: 10px;
    }
    .bank-detail-profile h1{
        font-size: 15px;
     }
     .bank-detail-profile h3{
        font-size: 10px;
     }
     .bank-detail-profile p{
        font-size: 10px;
     }
     .bank-img{
        position: relative;
        left: 10px;
        margin: auto;
    }

     .bank-detail-header img{
        width: 70%;
        border-radius: 50%;
        border: 5px solid rgb(255, 255, 255);
        
    }

}
@media screen and (max-width : 370px) {
    .con{
        display: flex;
        flex-direction: column;
        height: fit-content;
     }
    .bank-card-container{
        width: 300px;
    }
    .bank-img{
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bank-detail-tabs{
        position: relative;
        top: 0;
    }
    .tabcontent{
        font-size: 10px;
    }
}

/*-------------dashboard-----------*/
.dash-container{
    width: 100%;

}
.dashboard_container {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 40px;
    left: 0;
    max-width: 1140px;
    margin: 40px auto;
}

.dashboard {

    width: 25%;
    min-width: 15%;
    height: fit-content;
    /* margin: 10px; */

   
}
.dashboard ,.info{
    overflow: none;
    margin: 10px;
}

.dashboard,
.info .container {
    background-color: #F8F9FA;
    border-radius: 4px;
        padding:  15px;
        
   
}
.info .container{
    margin: 10px 0;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-bottom: 2px solid black;
}

.profile-img {
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
}

.upload-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    min-width: 100px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(172, 18, 18);
    color: white;
    border-radius: 20px;
    margin: 25px 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}


.side-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: fit-content;

}

.side-list a {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(68, 68, 68);
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.side-list a:hover {
    color: rgb(172, 18, 18);
}

.side-list a i {
    padding: 9px;
}

.info {
    width: 75%;
    /* height: 800px; */
    /* margin: 10px; */
}

.head {
    position: relative;
    margin: auto;
    top: 20px;
    width: 300px;
    justify-content: center;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
}
/* style1.css */
 

.formpage {
    margin: 50px auto;
   width: max-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
    text-align: center;
}

.formpage h1 {
    text-align: center;
    font-size: 24px;
    color: #ff1f1f;
    margin-bottom: 20px;
}

.formpage label {
    text-align: left;
    margin-bottom: 5px;
    margin-right: 10px;
    min-width: 20px;
    font-weight: bold;
}

.formpage .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.formpage .input-container label {
    margin-right: 0px;
}

.formpage .inputbox {
    flex: none;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formpage input[type="submit"],
.formpage button {
    width: 100%;
    padding: 10px;
    background-color: #ff1f1f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.formpage input[type="submit"]:hover,
.formpage button:hover {
    background-color: #db1d1d;
}

.formpage p {
    text-align: center;
    margin-top: 10px;
}

.formpage a {
    color: #333;
}
 

/* Responsive */
@media screen and (max-width: 500px) {
    .formpage {
        width: 100%;
        padding: 10px;
    }
    .registerpage {
        width: 90%;
        padding: 10px;
    }
   
}


/* dash */


/*---form---*/
.info{
    position: relative;
    margin: auto;
}

.inf{
    max-width: 800px;
    height: fit-content;
    margin: 0 auto;
    
}

.inform{
    margin-top: 20vh;
}
.bb-reg{
    margin-top: 10vh;
    margin-bottom: 3vh;
    
}


.info .container , .inf .container{
    position: relative;
    border-radius: 6px;
   background-color:  #F8F9FA;
    padding: 20px;
}

.info .container .heading, .container h1, .inf .container .heading {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    color: rgb(193, 41, 41);
}
.inf .container h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.inf .container p{
    position: relative;
    margin:20px  auto;
    width: 320px;
    text-align: center;
}

.info .container form ,.inf .container form {
    position: relative;
    /* min-height: 490px; */
    margin:auto;
    z-index: 3;
}

.info .container form .details,.inf .container form .details  {
    margin-top: 30px;
}

.info .container form .title,.inf .container form .title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    color: #333;
}

.info .container form .fields,.inf .container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

form .fields .input_field {
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 10px 4px;
}
form .log-reg-field .input_field input, form .fields .input_field input{
    padding: 27px;
}
form .log-reg-field label{
    font-size: 20px;
}
form .log-reg-field .input_field input,form .fields .input_field input{
    font-size: 17px;
}
form .log-reg-field{
    gap: 15px;
}
form .log-reg-field .input_field{
    position: relative;
    margin: auto;
    width: calc(100% / 1 - 145px);
}

.input_field label {
    display: inline-block;
    font-size: 20px;
    /* text-transform: uppercase; */
    font-weight: bold;
    color: #2e2e2e;
}

.input_field input,
.input_field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #797979;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}


.input_field input:is(:focus, :valid) {
    box-shadow: 0px 0px 3.5px 3.5px rgba(181, 181, 181, 0.35);
}

.input_field input[type="date"] {
    color: #707070;
}

.input_field input[type="date"]:valid {
    color: #333;
}

.info .container form button input,.inf .container form button input,
.info .container form button select,.inf .container form button select {
    text-decoration: none;
}


.reg{
    max-width: 900px;
    max-height: 600px;

    margin-top: 10vh;
}
form .button,.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 200px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 12px;
    border: 1px solid rgb(172, 18, 18);;
    outline: none;
    background-color: rgb(172, 18, 18);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
    transition: all 200ms ease-in-out;

}
.form input[type="submit"]{
    font-size: 18px;
    width: 300px;
    margin-top: 10px;
}

form .button:hover,
.upload-img:hover {
    background-color: transparent;
    color: black;
    border: 1px solid rgb(172, 18, 18);
    padding: -1px;
}

.button-manage{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.button-manage button{
    background-color: inherit;
    border: none;
    text-decoration: none;
    color: #2196F3;
    font-size: 16px;
    margin-top: 15px;
}

.button-manage button:hover{
    text-decoration: underline;
}

/* form  */











/* footer */
footer {
    background: #ff1f1f;
    color: #fff;
    padding: 2em;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
}
/* footer */

@media screen and (min-width: 769px) {
    p {
        font-size: 1.2em;
    }
         
}
/* for laptop and small  */
@media screen and (max-width: 1050px) { 
form .fields .input_field {
        display: flex;
        width: calc(100% / 1 - 15px);
        flex-direction: column;
        margin: 10px 4px;
    }
    .info .container .heading,.inf .container .heading {
        font-size: 30px;
    }


  
    .side-list a,.info label, .info input, .inf input{
        font-size: 12px;
        
    }

    .dashboard h3{
        font-size: 18px;
    }

     .info .container h3,.inf .container h3{
        font-size: 20px;
    }
    .info .container .userdetails,.inf .container .userdetails{
        font-size: 14px;
    }
    .datatable-search .datatable-input{
      font-size: 12px;
      padding: 5px;

      width : 100%;
      margin: 3px;
        }
                 #datatable th a,
                 #datatable td {
                     font-size: 12px !important;
                 }
        
}




@media screen and (max-width: 768px) { 
    .banner {
        padding: 2em;
        text-align: center;
    }
    
    .info .container .heading, .inf .container .heading {
        font-size: 30px;
    }
}

@media screen and (max-width: 567px) {
    .dashboard_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dashboard{
        position: relative;
        margin: auto;
        width: 95%;
    }
    .side-list{
        text-align: center;
    }
    .info,.inf{
        width: 95%;
    }
    .info .container .heading, .inf .container .heading {
        font-size: 60px;
    }
    
    form .log-reg-field{
        display: flex;
        flex-direction: column;
    }
    form .log-reg-field .input_field{
        display: flex;
        flex-direction: column;
        width: calc(100% / 1 - 15px);
       
    }
}


/* Path: assets\css\style.css - bootstrap replace */ 
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
.datatable-table{
    border-collapse: collapse !important;
}



.event_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_btn_container a{
    width: 90%;
}

/*---------Donor Switch------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

  
    .switch-donor a{
        align-items: center;
        position: relative;
        top: 4px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        margin: 0 10px;
  
    }



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
     padding: 40px;/* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content */
  .modal-content {
    margin: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    width: fit-content;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*----------Event Page-----------*/
  .main-event-container{
    margin-top: 90px;
   
  }
  .main-sub-event-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .event-title-container{
    display: none;
    width: 95%;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #F8F9FA;
  }

.event-information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid gray;
  }


  .event-info-container{
    width: 68%;
    background-color:#F8F9FA;
    padding: 10px;
    border-radius: 4px;
  }

  .event-info-container h2{
    text-align: center;
  }
  .event-info-container img{
    width: 100%;
  }
  .event-detail-container{
    width: 30%;
    float: right;
    background-color:#F8F9FA;
    padding: 10px;
    border-radius: 4px;
  }

  .event-detail-container h3{
    font-size: 20px;
  }
  .event-detail-container p{
    font-size: 15px;
    margin: 5px;
  }

  .event-info-container,.event-detail-container{
    margin-bottom: 10px;
  }
 

  .en-info{
    margin: 15px 5px 40px 5px;
  }


  .event-info{
    border-radius: 5px;
  }
  .en-info-btn,.event-info{
    margin: 20px 5px;
  }

  .en-info-btn{
    position: relative;
    margin: auto;
    width: fit-content;
  }

  @media screen and (max-width:1080px) {
    .main-sub-event-container{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 5s;
      }
      .event-information{
        display: flex;
        flex-direction: column-reverse;
        
      }
      .event-info-container{
        width: 100%;
       
      }
      .event-info-container img{
        width: 100%;
      }
      .event-detail-container,
      .event-info-container{
        position: relative;
        margin: auto;
      }
      .event-title-container{
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      .event-img{
        display: none;
      }
      .event-detail-container{
        width: 100%;
        margin-bottom: 10px;
      }
  }


  /*-----------dasdboard card------------*/
